In [1]:
from sqlalchemy import create_engine, inspect
import pandas as pd
import psycopg2

def read_from_postgresql(table_name, user, password, host, port, dbname, schema):
    engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}')
    # Read the table into a DataFrame
    df = pd.read_sql_table(table_name, engine, schema=schema)

    return df

host = '192.168.1.35'
port = '5432' 
dbname = 'postgres'
user = 'postgres'
password = 'postgres'
schema = 'public'
symbol = 'option'

df = read_from_postgresql(symbol, user, password, host, port, dbname, schema)

In [2]:
df

,Ticker,break_even_price,convert_rate,expire_date,current_price,premium,last_trend,exercisePrice,diff,cost_per_call,t,val,Date
0,CACB2304,25.20,2.5204,23/09/2024,24.55,2.33,0.15,19323,0.65,5.872532,96,0.031042,2024-06-18
1,CACB2305,25.36,5.0408,07/10/2024,24.55,1.03,0.15,20163,0.81,5.192024,110,0.016727,2024-06-18
2,CACB2306,24.51,2.5204,18/07/2024,24.55,2.39,0.15,18483,0.04,6.023756,29,0.083793,2024-06-18
3,CACB2307,24.88,5.0408,19/08/2024,24.55,0.77,0.15,21003,0.33,3.881416,61,0.018033,2024-06-18
4,CACB2401,24.25,1.6803,17/06/2024,24.55,1.93,0.15,21003,0.30,3.242979,-2,-1.115000,2024-06-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,CVRE2315,31.52,8.0000,07/10/2024,21.15,0.19,-0.95,30000,10.37,1.520000,110,0.096000,2024-06-18
114,CVRE2318,31.24,4.0000,03/07/2024,21.15,0.06,-0.95,30999,10.09,0.240000,14,0.725000,2024-06-18
115,CVRE2319,32.34,4.0000,03/10/2024,21.15,0.14,-0.95,31777,11.19,0.560000,106,0.106887,2024-06-18
116,CVRE2320,33.67,2.0000,02/01/2025,21.15,0.66,-0.95,32333,12.52,1.320000,197,0.066904,2024-06-18
117,CVRE2322,24.51,3.0000,18/07/2024,21.15,0.16,-0.95,24000,3.36,0.480000,29,0.121379,2024-06-18

In [12]:
print(df.tail(30))

            Date      time   Close  position
1005  2024-06-11  14:01:00  1301.0      -2.0
1006  2024-06-11  14:02:00  1301.8      -2.0
1007  2024-06-11  14:03:00  1301.8      -2.0
1008  2024-06-11  14:04:00  1302.3      -2.0
1009  2024-06-11  14:05:00  1302.5      -2.0
1010  2024-06-11  14:05:00  1302.5      -2.0
1011  2024-06-11  14:06:00  1304.2       0.0
1012  2024-06-11  14:08:00  1303.9       2.0
1013  2024-06-11  14:09:00  1303.0       0.0
1014  2024-06-11  14:10:00  1304.1       0.0
1015  2024-06-11  14:11:00  1304.0       2.0
1016  2024-06-11  14:11:00  1304.0       2.0
1017  2024-06-11  14:12:00  1303.0       0.0
1018  2024-06-11  14:14:00  1302.7      -2.0
1019  2024-06-11  14:15:00  1302.6      -2.0
1020  2024-06-11  14:15:00  1302.6      -2.0
1021  2024-06-11  14:16:00  1302.4      -2.0
1022  2024-06-11  14:18:00  1301.6      -2.0
1023  2024-06-11  14:19:00  1302.4      -2.0
1024  2024-06-11  14:20:00  1302.2      -2.0
1025  2024-06-11  14:21:00  1303.0       0.0
1026  2024-06-11  14:21:00  1303.0       0.0
1027  2024-06-11  14:22:00  1306.2       2.0
1028  2024-06-11  14:24:00  1304.5       2.0
1029  2024-06-11  14:25:00  1305.7       2.0
1030  2024-06-11  14:26:00  1305.1       2.0
1031  2024-06-11  14:27:00  1305.9       2.0
1032  2024-06-11  14:28:00  1306.6       2.0
1033  2024-06-11  14:29:00  1308.2       2.0
1034  2024-06-11  14:30:00  1307.2       2.0

In [13]:
df.to_csv('check.csv')

In [5]:
from datetime import datetime, timedelta, timezone
import pandas as pd
import numpy as np
import requests

In [8]:
start_time = 1600000000
now_time = 9999999999
symbol = 'VN30F1M'
rolling_window = 1 # Số phút muốn dự đoán tiếp theo